.decoration {
    overflow: hidden;
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);
    max-width: var(--tile-size);
    max-height: var(--tile-size);
    border: 0 none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none;
}

.activeEntity {
    position: absolute;
    width: calc(var(--tile-size) * 0.35);
    height: calc(var(--tile-size) * 0.35);
    right: 5%;
    top: 5%;
}

.clickedSquare {
    position: absolute;
    width: calc(var(--tile-size) * 0.35);
    height: calc(var(--tile-size) * 0.35);
    left: 5%;
    top: 5%;
}

.borderInCorner {
    --b: 5px; /* thickness of the border */
    --c: #ff8400; /* color of the border */
    --w: 1.75rem; /* width of border */
    --r: 10px; /* radius of the border */


    content: "";
    position: absolute;
    inset: 0;
    background: var(--c, #ff8400);
    padding: var(--b);
    border-radius: var(--r);
    -webkit-mask: linear-gradient(0deg, #000 calc(2 * var(--b)), #0000 0) 50% var(--b)/calc(100% - 2 * var(--w)) 100% repeat-y,
    linear-gradient(-90deg, #000 calc(2 * var(--b)), #0000 0) var(--b) 50%/100% calc(100% - 2 * var(--w)) repeat-x,
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;

    transition: background-color 0.1s;

    cursor: pointer;
}

.interactableAlly {
    --c: #23dcd5; /* color of the border */
}

.interactableEnemy {
    --c: #ff1a3c; /* color of the border */
}
