
.decoration {
    overflow: hidden;
    position: absolute;
    width: var(--image-size);
    height: var(--image-size);
    max-width: var(--image-size);
    max-height: var(--image-size);
    border: 0 none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none
}

.activeEntity {
    border: 3px solid #ffee04;
}

.selected {
    border: 3px solid #6ef581;
}

.interactable {
    border: 3px solid #1affd5;
    cursor: pointer;
}

.interactableAlly {
    border: 3px solid #1affd5;
    cursor: pointer;
}

.interactableEnemy {
    border: 3px solid #ff1a3c;
    cursor: pointer;
}