.infoSegmentContainer {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0.25rem;
    padding: 1rem;
}

.infoSegmentContainer div {
    display: flex;
}

.infoSegmentHeading {
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
}

.infoSegmentDescription {
    display: flex;
    color: #4b4b4b;
    font-size: 1rem;
    font-weight: normal;
    overflow: hidden;
    word-break: break-word;
    margin: 0.5rem 0;
}

.infoSegmentMinorInfo {
    flex-direction: column;
    font-size: 1.15rem;
    margin: 0.5rem 0;
}

.infoSegmentMinorInfo p {
    margin: 0;
}

.infoSegmentTypeDetails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.infoSegmentUsageDetails {
    flex-direction: column;
}