.gameScreenContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameInfoContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    background-color: black;
    color: white;
    flex-direction: column;
}

.gameMenusContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: white;
}

.menuContainer {
    display: flex;
    height: 100%;
    width: 90%;
    max-width: 90%;
    justify-content: center;
    padding: 2vh;
}


.menuNavigation {
    background-color: black;
    height: 100%;
    width: 10%;
    min-width: fit-content;
}


