.profileContainer {
    display: grid;
    grid-template-areas:
        "info lobbies";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1.25rem;
    padding: 1.25rem;
    width: 768px;
    margin: 1rem auto;
}

.profileContainer img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    grid-area: info;
    gap: 0.5rem;
}

.info h1 {
    padding: 0.5rem;
    font-size: var(--text-size-giant);
}

.lobbies {
    grid-area: lobbies;
}

@media (max-width: 768px) {
    .profileContainer {
        grid-template-areas:
            "info"
            "lobbies";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        width: 100%;
    }
}