.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.together {
    justify-content: normal;
}

.opposite {
    justify-content: space-between;
}
