.buttons {
    font-size: 30px;
}

.inputsContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
}

.options {
    height: 100%;
    flex-direction: column;
    overflow: auto;
}