@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:
        'Poppins',
        -apple-system,
        BlinkMacSystemFont,
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-background: #fafafa;
    --color-foreground: #1f2023;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin: 0;
}

main {
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        --color-background: #1f2023;
        --color-foreground: #481a1a;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --color-background: #efefef;
        --color-foreground: #1f2023;
    }
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --tile-size: 10vh;

    --text-size-giant: 2.5rem;
    --text-size-massive: 2.25rem;
    --text-size-bigger: 2rem;
    --text-size-big: 1.5rem;
    --text-size-normal: 1.25rem;
    --text-size-small: 1rem;
}

.border-container-biggest {
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    border-bottom: 0.5rem solid black;
}

.border-container-big {
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    border-bottom: 0.4rem solid black;
}

.border-container-medium {
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    border-bottom: 0.25rem solid black;
}

.border-container-small {
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    border-bottom: 0.2rem solid black;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    body {
        @apply font-poppins;
    }

    h1 {
        font-size: var(--text-size-giant);
        font-weight: bold;
    }

    h2 {
        font-size: var(--text-size-massive);
        font-weight: bold;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: bold;
    }

    h4 {
        font-size: var(--text-size-big);
        font-weight: bold;
    }

    h5 {
        font-size: var(--text-size-normal);
        font-weight: bold;
    }

    a {
        color: #3ea6ff;
        text-decoration-line: underline;
    }

    a:hover {
        transition: color 0.1s;
        color: #2b7bbf;
    }
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}
