.stateFeed {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 1rem;
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.stateFeed p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    word-wrap: break-word;
}

.pageManipulators {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--tile-size) * 1);
    background: black;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}

.pageContainer {
    height: calc(100% - var(--tile-size) * 1);
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    background-color: lightgray;
    border-radius: 15px;
}

.buttonContainer {
    height: var(--tile-size);
    width: var(--tile-size);
    border-radius: 10px;
    border: 5px solid black;
    cursor: pointer;
}

.activeButton {
    height: var(--tile-size);
    width: var(--tile-size);
    border-radius: 10px;
    border: 5px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
}

.inactiveButton {
    height: var(--tile-size);
    width: var(--tile-size);
    border-radius: 10px;
    border: 5px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
}
