.battlefield {
    border: 1px solid black;
    min-width: fit-content;
    min-height: fit-content;
    max-width: calc(var(--tile-size) * 8);
    max-height: calc(var(--tile-size) * 9);
    background: #1f2023;
    border-radius: 10px;
}
