.creationToolsContainer {
    display: flex;
    width: 1028px;
    height: 100%;
    margin: 1rem auto;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 1028px) {
    .creationToolsContainer {
        width: 100%;
        flex-direction: column;
    }
}