.tooltip {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 22rem;
    top: 0%;
    left: 100%;
    flex-direction: column;
    gap: 0.5rem;
}
