.tile {
    transition: background-color 0.3s;
    width: var(--image-size);
    height: var(--image-size);
    max-width: var(--image-size);
    max-height: var(--image-size);
}

.withEntity {
    background-image: url('/public/assets/builtins/tile.png');
    background-size: cover;
    cursor: pointer;
}

.tooltipContainer {
    position: relative;
}