.actionCard {
    width: 100%;
    min-width: 100%;
    min-height: 7rem;
    margin-top: 0.5rem;
}

.actionCardHighlighted {
    color: white;
    background-color: #2874b4;
}

.actionCardAvailable:hover {
    color: white;
    background-color: #399ffa;
    cursor: pointer;
    transition:
        background-color 0.1s,
        color 0.1s;
}

.actionCardUnavailable {
    color: #a0a0a0;
    background-color: #f5f5f5;
}
