.lobbyInfoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    font-size: var(--text-size-medium);
}

.lobbyInfoContainer:hover {
    background-color: #f0f0f0;
}

.gmIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
}

.gmIcon:hover {
    cursor: pointer;
    fill: black;
}