.dottedBackground {
    --dot-bg: #1f1e1e;
    --dot-color: #424242;
    --dot-size: 1px;
    --dot-space: 25px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
            var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
            var(--dot-space) var(--dot-space),
        var(--dot-color);
}
