.lobbyInfoContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 100rem;
    padding: 0.75rem;
    gap: 0.75rem;
}

.lobbyName {
    background-color: lightgray;
    font-size: var(--text-size-giant);
    grid-area: LobbyName;
    padding: 0.75rem;
    text-align: center;
    font-weight: bold;
    text-wrap: wrap;
    width: 100%;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 60%;
}

.playerSection {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 40%;
}

@media (max-width: 768px) {
    .lobbyInfoContainer {
        flex-direction: column;
        width: 100%;
    }

    .mainSection {
        width: 100%;
    }

    .playerSection {
        width: 100%;
    }
}
