.displayContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 0.5rem;
}

.entityHeader {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
}

.entityAttributesDefined {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.15rem;
    padding: 0 1rem;
}

.entityActiveWeapon {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.15rem;
}

.attributeToggle {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.2625rem;
    padding: 0.5rem;
}

.entityIWillComeUpWithAName {
    font-size: 1.25rem;
    font-weight: bold;
}