.displayContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 100%;
    background: gray;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.entityHeader {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.entityAttributesDefined {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.15rem;
}

.entityActiveWeapon {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.15rem;
}

.entityAttribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entityAttribute p {
    font-weight: bold;
    margin-bottom: 0.15rem;
}

.entityAttribute p:first-child {
    font-weight: normal;
}

.description {
    color: #4b4b4b;
    font-size: 1.5rem;
}

