.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.joinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    min-width: fit-content;
    max-width: 90vh;
    margin: 10vh auto;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    justify-content: space-between;
}

.joinContainer h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}