.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
}


.toggleSwitch {
    cursor: pointer;
}


.toggleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.75rem;
}

.iconClosed {
    color: black;
    transition: color 0.1s;
}

.iconClosed:hover {
    color: #4d4d4d;
    transition: color 0.1s;
}

.iconClosed:active {
    color: #4d4d4d;
    transition: color 0.1s;
}

.iconOpen {
    color: black;
    transition: color 0.1s;
}


.iconOpen:hover {
    color: #4d4d4d;
    transition: color 0.1s;
}

