.activeCombat {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    border-bottom: 0.25rem solid black;
    margin-bottom: 0.5rem;
}

.activeCombat svg {
    width: 1rem;
    height: 1rem;
}

.joinedPlayerContainer {
    border-top: 0.125rem solid black;
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 0;
}

.joinedPlayerContainer p {
    font-size: var(--text-size-small);
}

.combatStateContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}